@use '../abstracts' as *;

.main {
  overflow: hidden;
}

.main-layout {
  max-width: calc(1110px + (25px * 2));
  margin: 0 auto;
  padding: {
    left: 25px;
    right: 25px;
  }
}

.l-inner {
  display: grid;
  grid-template-columns: 23px 2.3fr 2.3fr 23px;
  width: min(calc(1110px + (23px * 2)), 100%);
  margin: 0 auto;
}
